<template>
    <% if @tabs_granted["dashboard"] %>
        <%= nav_link("/help") do %>
            <i class="fas fa-tachometer-alt"></i>
            <span><%= I18n.t("help.shared.sidebar_nav_dashboard") %>
        <% end %>
    <% end %>
    <% if @tabs_granted["ticket_categories"] || @tabs_granted["ticket_priorities"] || @tabs_granted["ticket_sources"] || @tabs_granted["ticket_types"]%>
        <b-menu-item>
            <template slot="label" slot-scope="props">
                <i class="fas fa-book-open"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_catalog") %></span>
                <b-icon class="is-pulled-right" :icon="props.expanded ? 'caret-down' : 'caret-right'"></b-icon>
            </template>
            <% if @tabs_granted["ticket_categories"]%>
                <li>
                    <%= link_to cloud_help.ticket_categories_path, class: "" do %>
                        <i class="far fa-bookmark"></i>
                        <span><%= I18n.t("help.shared.sidebar_nav_ticket_categories") %></span>
                    <% end %>
                </li>
            <% end %>
            <% if @tabs_granted["ticket_priorities"]%>
                <li>
                    <%= link_to cloud_help.ticket_priorities_path, class: "" do %>
                        <i class="fas fa-exclamation-circle"></i>
                        <span><%= I18n.t("help.shared.sidebar_nav_ticket_priorities") %></span>
                    <% end %>
                </li>
            <% end %>
            <% if @tabs_granted["ticket_types"]%>
                <li>
                    <%= link_to cloud_help.ticket_types_path, class: "" do %>
                        <i class="fas fa-bookmark"></i>
                        <span><%= I18n.t("help.shared.sidebar_nav_ticket_types") %></span>
                    <% end %>
                </li>
            <% end %>
        </b-menu-item>
    <% end %>
    <% if @tabs_granted["tickets"]%>
        <li>
            <%= link_to cloud_help.tickets_path, class: "" do %>
                <i class="fas fa-ticket-alt"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_tickets") %></span>
            <% end %>
        </li>
    <% end %>
    <% if @tabs_granted["slas"]%>
        <li>
            <%= link_to cloud_help.slas_path, class: "" do %>
                <i class="fas fa-file-contract"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_slas") %></span>
            <% end %>
        </li>
    <% end %>
    <% if @tabs_granted["workflows"] || @tabs_granted["dashboards"]%>
        <b-menu-item>
            <template slot="label" slot-scope="props">
                <i class="fas fa-cogs"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_settings") %></span>
                <b-icon class="is-pulled-right" :icon="props.expanded ? 'caret-down' : 'caret-right'"></b-icon>
            </template>
            <% if @tabs_granted["workflows"]%>
                <li>
                    <%= link_to cloud_help.workflows_path, class: "" do %>
                        <i class="fas fa-project-diagram"></i>
                        <span><%= I18n.t("help.shared.sidebar_nav_workflows") %></span>
                    <% end %>
                </li>
            <% end %>
            <% if @tabs_granted["dashboards"]%>
                <li>
                    <%= link_to cloud_help.dashboards_path, class: "" do %>
                        <i class="fas fa-tachometer-alt"></i>
                        <span><%= I18n.t("help.shared.sidebar_nav_dashboards") %></span>
                    <% end %>
                </li>
            <% end %>
        </b-menu-item>
    <% end %>
</template>
