<template>

    <%= navigation_vue_item("/help") do %>
        <i class="fas fa-tachometer-alt"></i>
        <span><%= I18n.t("help.shared.sidebar_nav_dashboard") %>
    <% end %>
   
    <% if @tabs_granted["tickets"]%>
        <li>
            <%= navigation_vue_item(cloud_help.tickets_path) do %>
                <i class="fas fa-ticket-alt"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_tickets") %></span>
            <% end %>
        </li>
    <% end %>
    <% if @tabs_granted["slas"]%>
        <li>
            <%= navigation_vue_item(cloud_help.slas_path) do %>
                <i class="fas fa-file-contract"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_slas") %></span>
            <% end %>
        </li>
    <% end %>
    <% if @tabs_granted["reports"]%>
        <li>
            <%= navigation_vue_item(cloud_help.reports_path) do %>
                <i class="fas fa-file-excel"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_reports") %></span>
            <% end %>
        </li>
    <% end %>
</template>
    
<template v-slot:settings>
 <% if @tabs_granted["ticket_categories"] || @tabs_granted["ticket_priorities"] || @tabs_granted["ticket_sources"] || @tabs_granted["ticket_types"] || @tabs_granted["ticket_workspaces"] %>
        <b-menu-item>
            <template slot="label" slot-scope="props">
                <i class="fas fa-book-open"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_catalog") %></span>
                <b-icon class="is-pulled-right" :icon="props.expanded ? 'caret-down' : 'caret-right'"></b-icon>
            </template>
            <% if @tabs_granted["ticket_workspaces"]%>
                <li>
                    <%= navigation_vue_item(cloud_help.ticket_workspaces_path) do %>
                        <i class="fas fa-object-group"></i>
                        <span><%= I18n.t("help.shared.sidebar_nav_ticket_workspaces") %></span>
                    <% end %>
                </li>
            <% end %>
            <% if @tabs_granted["ticket_categories"]%>
                <li>
                    <%= navigation_vue_item(cloud_help.ticket_categories_path) do %>
                        <i class="far fa-bookmark"></i>
                        <span><%= I18n.t("help.shared.sidebar_nav_ticket_categories") %></span>
                    <% end %>
                </li>
            <% end %>
            <% if @tabs_granted["ticket_priorities"]%>
                <li>
                    <%= navigation_vue_item(cloud_help.ticket_priorities_path) do %>
                        <i class="fas fa-exclamation-circle"></i>
                        <span><%= I18n.t("help.shared.sidebar_nav_ticket_priorities") %></span>
                    <% end %>
                </li>
            <% end %>
            <% if @tabs_granted["ticket_types"]%>
                <li>
                    <%= navigation_vue_item(cloud_help.ticket_types_path) do %>
                        <i class="fas fa-bookmark"></i>
                        <span><%= I18n.t("help.shared.sidebar_nav_ticket_types") %></span>
                    <% end %>
                </li>
            <% end %>
        </b-menu-item>
    <% end %>
    <% if @tabs_granted["settings"]%>
        <li>
            <%= navigation_vue_item(cloud_help.settings_path) do %>
                <i class="fas fa-tools"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_account_settings") %></span>
            <% end %>
        </li>
    <% end %>
    <% if @tabs_granted["workflows"]%>
        <li>
            <%= navigation_vue_item(cloud_help.workflows_path) do %>
                <i class="fas fa-project-diagram"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_workflows") %></span>
            <% end %>
        </li>
    <% end %>
    <% if @tabs_granted["dashboards"]%>
        <li>
            <%= navigation_vue_item(cloud_help.dashboards_path) do %>
                <i class="fas fa-tachometer-alt"></i>
                <span><%= I18n.t("help.shared.sidebar_nav_dashboards") %></span>
            <% end %>
        </li>
    <% end %>
</template>

