<p style="color: green"><%= notice %></p>

<%= render @ticket_discussion %>

<div>
  <%= link_to "Edit this discussion", edit_ticket_discussion_path(@ticket_discussion) %> |
  <%= link_to "Back to discussions", ticket_discussions_path %>

  <%= button_to "Destroy this discussion", @ticket_discussion, method: :delete %>
</div>
