<p id="notice"><%= notice %></p>

<h1>Ticket Discussions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_discussions.each do |ticket_discussion| %>
      <tr>
        <td><%= link_to 'Show', ticket_discussion %></td>
        <td><%= link_to 'Edit', edit_ticket_discussion_path(ticket_discussion) %></td>
        <td><%= link_to 'Destroy', ticket_discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Discussion', new_ticket_discussion_path %>
