<%
=begin
Copyright (c) 2021, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 

=end
%>
<%= wicked_pdf_stylesheet_link_tag("cloud_help/pdf") %>

<div class="card is-shadowless">
    <div class="card-content is-paddingless">
        <table class="is-narrow is-fullwidth quotation-header">
            <tbody>
                <tr>
                    <td>
                        <%= customization_instance_logo(logo: "app_logo", mode: "pdf", options: { alt: "#{@company.company_name}", width: "100" })%>
                        <p><b><%= @title %> </b></p>
                        <p>
                            <small>
                                <b><%= I18n.t("help.reports.view_title_report_generated_at") %>:</b>
                                <%= LC::Date.to_string_datetime(LC::Date.datetime) %>
                            </small>
                        </p>
                        <p>
                            <small>
                                <b><%= I18n.t("help.reports.view_title_report_generated_by") %>:</b>
                                <%= @current_user.name %>
                            </small>
                        </p>
                        <% if @workspace %>
                            <p>
                                <small>
                                    <b><%= I18n.t("help.tickets.column_cloud_help_catalog_ticket_workspaces_id") %>:</b>
                                    <%= @workspace.name %>
                                </small>
                                
                            </p>
                        <% end %>
                    </td>
                </tr>
            </tbody>
        <table>
        <hr>
        
        <div class="columns">
            <div class="column is-12 quotation-conditions atomic-div">
                <p><b>
                    <%= I18n.t("help.tickets.view_text_total_hours_worked") %> 
                    <%= @total_hours %>
                </b></p>
                <br>

                <table class="tickets-report-table table is-fullwidth is-bordered is-narrow quotation-entries">
                    <thead>
                        <tr>
                            <th><small><%= I18n.t("help.tickets.column_subject") %></small></th>
                            <th><small><%= I18n.t("help.tickets.column_description")%></small></th>
                            <th><small><%= I18n.t("help.tickets.column_user_main_id") %></small></th>
                            <th><small><%= I18n.t("help.tickets.column_cloud_help_catalog_ticket_types_id") %></small></th>
                            <th><small><%= I18n.t("help.tickets.column_cloud_help_workflow_statuses_id") %></small></th>
                            <th><small><%= I18n.t("help.tickets.column_start_date") %></small></th>
                            <th><small><%= I18n.t("help.tickets.column_end_date") %></small></th>
                            <th><small><%= I18n.t("help.tickets.column_hours_worked") %></small></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @data.each do |row| %>
                            <tr>
                                <td><small><%= row[:subject] %></small></td>
                                <td><small><%= row[:description] %></small></td>
                                <td><small><%= row[:user_assigned] %></small></td>
                                <td><small><%= row[:ticket_type_name] %></small></td>
                                <td><small><%= row[:status_name] %></small></td>
                                <td><small><%= row[:start_date] %></small></td>
                                <td><small><%= row[:end_date] %></small></td>
                                <td><small><%= row[:hours_worked] %></small></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
