<p id="notice"><%= notice %></p>

<h1>Ticket Followers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_followers.each do |ticket_follower| %>
      <tr>
        <td><%= link_to 'Show', ticket_follower %></td>
        <td><%= link_to 'Edit', edit_ticket_follower_path(ticket_follower) %></td>
        <td><%= link_to 'Destroy', ticket_follower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Follower', new_ticket_follower_path %>
