<p style="color: green"><%= notice %></p>

<%= render @catalog_priority %>

<div>
  <%= link_to "Edit this catalog priority", edit_catalog_priority_path(@catalog_priority) %> |
  <%= link_to "Back to catalog priorities", catalog_priorities_path %>

  <%= button_to "Destroy this catalog priority", @catalog_priority, method: :delete %>
</div>
