<p id="notice"><%= notice %></p>

<h1>Ticket Custom Fields</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_custom_fields.each do |ticket_custom_field| %>
      <tr>
        <td><%= link_to 'Show', ticket_custom_field %></td>
        <td><%= link_to 'Edit', edit_ticket_custom_field_path(ticket_custom_field) %></td>
        <td><%= link_to 'Destroy', ticket_custom_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Custom Field', new_ticket_custom_field_path %>
