<p style="color: green"><%= notice %></p>

<%= render @catalog_type %>

<div>
  <%= link_to "Edit this catalog type", edit_catalog_type_path(@catalog_type) %> |
  <%= link_to "Back to catalog types", catalog_types_path %>

  <%= button_to "Destroy this catalog type", @catalog_type, method: :delete %>
</div>
