<p id="notice"><%= notice %></p>

<h1>Ticket Workflows</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_workflows.each do |ticket_workflow| %>
      <tr>
        <td><%= link_to 'Show', ticket_workflow %></td>
        <td><%= link_to 'Edit', edit_ticket_workflow_path(ticket_workflow) %></td>
        <td><%= link_to 'Destroy', ticket_workflow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Workflow', new_ticket_workflow_path %>
