<p id="notice"><%= notice %></p>

<h1>Ticket Activities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_activities.each do |ticket_activity| %>
      <tr>
        <td><%= link_to 'Show', ticket_activity %></td>
        <td><%= link_to 'Edit', edit_ticket_activity_path(ticket_activity) %></td>
        <td><%= link_to 'Destroy', ticket_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Activity', new_ticket_activity_path %>
